footer {
    width: 100vw;
    background-color: rgba(27, 31, 65);
    color: #fff;
    padding: 4rem 0;
    border-top-right-radius: 4rem;
    margin-top: 4rem;
    font-family: 'Poppins', sans-serif;
}

.footer-inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-inner ul li,
.footer-inner ul li a {
    color: var(--gray);
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}

.footer-inner ul li a:hover {
    color: var(--primary-color);
}

.footer-inner ul h3 {
    padding-bottom: 10px;
}

.footer-inner .social-media-links svg {
    fill: var(--white);
    margin-right: 0.4rem;
}
.footer-inner .social-media-links svg:hover{
    cursor: pointer;
    fill: var(--primary-color);
}

a {
    color: var(--white);
}

footer > p {
    text-align: center;
    padding-top: 1rem;
}

@media only screen 
  and (min-width: 280px) 
  and (max-width: 540px) {
    .footer-inner {
        width: 80%;
       flex-direction: column;
    }

  }

