 
header {
    width: 100vw;
    font-size: 18px;
    height: 4rem;
    padding: 1rem 0;
    background-color: #151515;
    color: white;
    margin-bottom: 4rem;
   font-family: 'Lato', sans-serif;
}

nav {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    width: 20rem;
    display: inherit;
    justify-content: inherit;
}

nav ul li a,
nav ul li {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    color: hsl(180, 66%, 49%);
}

.active {
 color: hsl(0, 87%, 67%);
}


